@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400;500;600;700;800;900&family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    "Exo",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

::selection {
  background-color: #29ab87;
  color: white;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html,
.side-bar {
  scrollbar-width: thin;
  scrollbar-color: #29ab87 black;
}

html::-webkit-scrollbar,
.side-bar::-webkit-scrollbar {
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb,
.side-bar::-webkit-scrollbar-thumb {
  background-color: #29ab87;
  border-radius: 30px;
}
html::-webkit-scrollbar-track,
.side-bar::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 0%);
}

.slick-slider .slick-slide {
  padding: 0 15px;
}
.slick-track {
  float: left;
}
.slick-dots li.slick-active button:before {
  color: #29ab87;
}

.header-style {
  background-color: rgba(0, 0, 0, 0.9);
}
@supports (backdrop-filter: blur(8px)) {
  .header-style {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
  }
}

.custom-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.list-style {
  position: relative;
  margin-right: 0.5em;
}
.list-style:not(:last-child)::after {
  content: ",";
  position: absolute;
}

.header-img-style {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("./assets/images/question-mark.jpg");
}

.background-style {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 60%,
      hsla(163, 82%, 49%, 0.18)
    ),
    url("./assets//images/watchingTv.jpg");
}

@media (max-width: 768px) {
  .background-style {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.93) 50%,
        hsla(162, 71%, 11%, 0.867)
      ),
      url("./assets//images/watching-tv-mobile.jpg");
  }
}

@layer components {
  .paddingX {
    @apply px-[1.3rem] sm:px-[4rem] lg:px-[5rem];
  }
  .max-width {
    @apply xl:max-w-[100rem] xl:mx-auto;
  }
  .image {
    @apply w-full block h-[100dvh] object-cover;
  }
  .font {
    @apply text-[1.2rem] xl:text-[1.1rem];
  }
  .button {
    @apply text-white border-primary border-solid py-1 hover:scale-105 transition border-2 rounded-md;
  }
  .padding {
    @apply px-6 md:px-10 lg:px-14;
  }
  .margin {
    @apply mb-24;
  }
  .padding-top {
    @apply pt-[10rem];
  }
  .spacing {
    @apply tracking-wider;
  }
  .custom-fz {
    @apply text-[.95rem];
  }
  .movie-margin {
    @apply mb-16 lg:mb-20;
  }
}
